In [1]:
# Perform the following operations using Python on any open-source dataset (e.g., data.csv)
# 1. Import all the required Python Libraries.
# 2. Locate an open-source data from the web (e.g.
# https://www.kaggle.com). Provide a clear description of the data and its source (i.e., URL of the web site).
# 3. Load the Dataset into pandasâ€™ data frame.
# 4. Data Preprocessing: check for missing values in the data using pandas isnull (), describe() function to get some initial
# statistics. Provide variable descriptions. Types of variables
# etc. Check the dimensions of the data frame.
# 5. Data Formatting and Data Normalization: Summarize the
# types of variables by checking the data types (i.e., character,
# numeric, integer, factor, and logical) of the variables in the
# data set. If variables are not in the correct data type, apply
# proper type conversions.
# 6. Turn categorical variables into quantitative variables in Python.
# In addition to the codes and outputs, explain every operation that you do in the above steps and explain everything that you do to import/read/scrape the data set.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pylab as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

In [3]:
df = pd.read_csv('AutoData.csv')

In [4]:
df

,symboling,make,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,3,alfa-romero giulia,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495.0
1,3,alfa-romero stelvio,gas,std,two,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500.0
2,1,alfa-romero Quadrifoglio,gas,std,two,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500.0
3,2,audi 100 ls,gas,std,four,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950.0
4,2,audi 100ls,gas,std,four,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,volvo 145e (sw),gas,std,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,23,28,16845.0
201,-1,volvo 144ea,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,8.7,160,5300,19,25,19045.0
202,-1,volvo 244dl,gas,std,four,sedan,rwd,front,109.1,188.8,...,173,mpfi,3.58,2.87,8.8,134,5500,18,23,21485.0
203,-1,volvo 246,diesel,turbo,four,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23.0,106,4800,26,27,22470.0
204,-1,volvo 264gl,gas,turbo,four,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9.5,114,5400,19,25,22625.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   symboling         205 non-null    int64
 1   make              205 non-null    object
 2   fueltype          205 non-null    object
 3   aspiration        205 non-null    object
 4   doornumber        205 non-null    object
 5   carbody           205 non-null    object
 6   drivewheel        205 non-null    object
 7   enginelocation    205 non-null    object
 8   wheelbase         205 non-null    float64
 9   carlength         205 non-null    float64
 10  carwidth          203 non-null    float64
 11  carheight         205 non-null    float64
 12  curbweight        205 non-null    int64
 13  enginetype        205 non-null    object
 14  cylindernumber    205 non-null    object
 15  enginesize        205 non-null    int64
 16  fuelsystem        205 non-null    object
 17  boreratio         205 non-null    float64
 18  stroke            205 non-null    float64
 19  compressionratio  203 non-null    float64
 20  horsepower        205 non-null    int64
 21  peakrpm           205 non-null    int64
 22  citympg           205 non-null    int64
 23  highwaympg        205 non-null    int64
 24  price             205 non-null    float64
dtypes: float64(8), int64(7), object(10)
memory usage: 40.2+ KB

In [6]:
df.describe()

,symboling,wheelbase,carlength,carwidth,carheight,curbweight,enginesize,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
count,205.000000,205.000000,205.000000,203.000000,205.000000,205.000000,205.000000,205.000000,205.000000,203.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,98.756585,174.049268,65.921675,53.724878,2555.565854,126.907317,3.329756,3.255415,10.151823,104.117073,5125.121951,25.219512,30.751220,13276.710571
std,1.245307,6.021776,12.337289,2.150069,2.443522,520.680204,41.642693,0.270844,0.313597,3.990493,39.544167,476.985643,6.542142,6.886443,7988.852332
min,-2.000000,86.600000,141.100000,60.300000,47.800000,1488.000000,61.000000,2.540000,2.070000,7.000000,48.000000,4150.000000,13.000000,16.000000,5118.000000
25%,0.000000,94.500000,166.300000,64.100000,52.000000,2145.000000,97.000000,3.150000,3.110000,8.550000,70.000000,4800.000000,19.000000,25.000000,7788.000000
50%,1.000000,97.000000,173.200000,65.500000,54.100000,2414.000000,120.000000,3.310000,3.290000,9.000000,95.000000,5200.000000,24.000000,30.000000,10295.000000
75%,2.000000,102.400000,183.100000,66.900000,55.500000,2935.000000,141.000000,3.580000,3.410000,9.400000,116.000000,5500.000000,30.000000,34.000000,16503.000000
max,3.000000,120.900000,208.100000,72.300000,59.800000,4066.000000,326.000000,3.940000,4.170000,23.000000,288.000000,6600.000000,49.000000,54.000000,45400.000000

In [7]:
df.shape

(205, 25)

In [8]:
df.dtypes

symboling             int64
make                 object
fueltype             object
aspiration           object
doornumber           object
carbody              object
drivewheel           object
enginelocation       object
wheelbase           float64
carlength           float64
carwidth            float64
carheight           float64
curbweight            int64
enginetype           object
cylindernumber       object
enginesize            int64
fuelsystem           object
boreratio           float64
stroke              float64
compressionratio    float64
horsepower            int64
peakrpm               int64
citympg               int64
highwaympg            int64
price               float64
dtype: object

In [9]:
print(df.columns)

Index(['symboling', 'make', 'fueltype', 'aspiration', 'doornumber', 'carbody',
       'drivewheel', 'enginelocation', 'wheelbase', 'carlength', 'carwidth',
       'carheight', 'curbweight', 'enginetype', 'cylindernumber', 'enginesize',
       'fuelsystem', 'boreratio', 'stroke', 'compressionratio', 'horsepower',
       'peakrpm', 'citympg', 'highwaympg', 'price'],
      dtype='object')

In [10]:
#DETECTING MISSING VALUES
df.isnull()

,symboling,make,fueltype,aspiration,doornumber,carbody,drivewheel,enginelocation,wheelbase,carlength,...,enginesize,fuelsystem,boreratio,stroke,compressionratio,horsepower,peakrpm,citympg,highwaympg,price
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
201,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
202,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
203,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
204,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df.isnull().sum()

symboling           0
make                0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            2
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    2
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [12]:
df.notnull().sum()

symboling           205
make                205
fueltype            205
aspiration          205
doornumber          205
carbody             205
drivewheel          205
enginelocation      205
wheelbase           205
carlength           205
carwidth            203
carheight           205
curbweight          205
enginetype          205
cylindernumber      205
enginesize          205
fuelsystem          205
boreratio           205
stroke              205
compressionratio    203
horsepower          205
peakrpm             205
citympg             205
highwaympg          205
price               205
dtype: int64

In [13]:
#HANDLING MISSING VLUES
#Imputation: Replace missing values with some other value. Common strategies include:
#Mean/Median/Mode/default vlues Imputation:

df.fillna(df['compressionratio'].mean(),inplace=True)

In [14]:
df.isnull().sum()

symboling           0
make                0
fueltype            0
aspiration          0
doornumber          0
carbody             0
drivewheel          0
enginelocation      0
wheelbase           0
carlength           0
carwidth            0
carheight           0
curbweight          0
enginetype          0
cylindernumber      0
enginesize          0
fuelsystem          0
boreratio           0
stroke              0
compressionratio    0
horsepower          0
peakrpm             0
citympg             0
highwaympg          0
price               0
dtype: int64

In [15]:
#Dropping Missing Values: If the amount of missing data is relatively small compared to the size of your dataset, you may choose to simply drop rows or columns containing missing values.

cleaned_data=df.dropna()
cleaned_data=df.dropna(axis=1)

In [16]:
# DATA NORMLIZATION
# Normalization is the process of transforming values of several variables into a similar range. Typical normalizations include scaling the variable so the variable average is 0, scaling the variable so the variance is 1, or scaling variable so the variable values range from 0 to 1

In [17]:
#MIN-MAX SCALER
print('horsepower column before scaling')
df['horsepower']

horsepower column before scaling

0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: int64

In [18]:
print('horse power column after scaling')
scaler=MinMaxScaler()
normalized_data =scaler.fit_transform(df['horsepower'].values.reshape(-1,1))
print(normalized_data)

horse power column after scaling
[[0.2625    ]
 [0.2625    ]
 [0.44166667]
 [0.225     ]
 [0.27916667]
 [0.25833333]
 [0.25833333]
 [0.25833333]
 [0.38333333]
 [0.46666667]
 [0.22083333]
 [0.22083333]
 [0.30416667]
 [0.30416667]
 [0.30416667]
 [0.55833333]
 [0.55833333]
 [0.55833333]
 [0.        ]
 [0.09166667]
 [0.09166667]
 [0.08333333]
 [0.08333333]
 [0.225     ]
 [0.08333333]
 [0.08333333]
 [0.08333333]
 [0.225     ]
 [0.16666667]
 [0.40416667]
 [0.04166667]
 [0.11666667]
 [0.05      ]
 [0.11666667]
 [0.11666667]
 [0.11666667]
 [0.11666667]
 [0.15833333]
 [0.15833333]
 [0.15833333]
 [0.15833333]
 [0.22083333]
 [0.21666667]
 [0.125     ]
 [0.09166667]
 [0.09166667]
 [0.175     ]
 [0.53333333]
 [0.53333333]
 [0.89166667]
 [0.08333333]
 [0.08333333]
 [0.08333333]
 [0.08333333]
 [0.08333333]
 [0.22083333]
 [0.22083333]
 [0.22083333]
 [0.3625    ]
 [0.15      ]
 [0.15      ]
 [0.15      ]
 [0.15      ]
 [0.06666667]
 [0.15      ]
 [0.3       ]
 [0.1       ]
 [0.3125    ]
 [0.3125    ]
 [0.3125    ]
 [0.3125    ]
 [0.44583333]
 [0.44583333]
 [0.56666667]
 [0.56666667]
 [0.52916667]
 [0.08333333]
 [0.08333333]
 [0.08333333]
 [0.225     ]
 [0.28333333]
 [0.16666667]
 [0.40416667]
 [0.40416667]
 [0.40416667]
 [0.16666667]
 [0.16666667]
 [0.28333333]
 [0.28333333]
 [0.0875    ]
 [0.02916667]
 [0.0875    ]
 [0.0875    ]
 [0.0875    ]
 [0.0875    ]
 [0.0875    ]
 [0.0875    ]
 [0.0875    ]
 [0.0875    ]
 [0.20416667]
 [0.20416667]
 [0.43333333]
 [0.43333333]
 [0.43333333]
 [0.46666667]
 [0.63333333]
 [0.46666667]
 [0.20416667]
 [0.19583333]
 [0.20416667]
 [0.19583333]
 [0.19583333]
 [0.19583333]
 [0.19583333]
 [0.19583333]
 [0.20416667]
 [0.19583333]
 [0.39166667]
 [0.08333333]
 [0.225     ]
 [0.08333333]
 [0.08333333]
 [0.08333333]
 [0.16666667]
 [0.40416667]
 [0.39583333]
 [0.6625    ]
 [0.6625    ]
 [0.6625    ]
 [1.        ]
 [0.175     ]
 [0.175     ]
 [0.25833333]
 [0.25833333]
 [0.25833333]
 [0.25833333]
 [0.46666667]
 [0.46666667]
 [0.0875    ]
 [0.10416667]
 [0.10416667]
 [0.14166667]
 [0.14166667]
 [0.19166667]
 [0.14166667]
 [0.2625    ]
 [0.14166667]
 [0.19166667]
 [0.14166667]
 [0.2625    ]
 [0.05833333]
 [0.05833333]
 [0.05833333]
 [0.05833333]
 [0.05833333]
 [0.05833333]
 [0.09166667]
 [0.09166667]
 [0.03333333]
 [0.03333333]
 [0.09166667]
 [0.09166667]
 [0.09166667]
 [0.09166667]
 [0.09166667]
 [0.26666667]
 [0.26666667]
 [0.28333333]
 [0.28333333]
 [0.28333333]
 [0.28333333]
 [0.28333333]
 [0.28333333]
 [0.18333333]
 [0.10416667]
 [0.18333333]
 [0.18333333]
 [0.18333333]
 [0.47083333]
 [0.47083333]
 [0.45      ]
 [0.45      ]
 [0.01666667]
 [0.15416667]
 [0.01666667]
 [0.15416667]
 [0.15416667]
 [0.08333333]
 [0.21666667]
 [0.175     ]
 [0.175     ]
 [0.25833333]
 [0.08333333]
 [0.16666667]
 [0.275     ]
 [0.275     ]
 [0.275     ]
 [0.275     ]
 [0.475     ]
 [0.475     ]
 [0.275     ]
 [0.46666667]
 [0.35833333]
 [0.24166667]
 [0.275     ]]

In [19]:
#manullay without using sklearn
df['horsepower']=(df['horsepower']-df['horsepower'].min())/(df['horsepower'].max()-df['horsepower'].min())
print("AFTER MIN_MAX SCALING")
df['horsepower'].head()

AFTER MIN_MAX SCALING

0    0.262500
1    0.262500
2    0.441667
3    0.225000
4    0.279167
Name: horsepower, dtype: float64

In [20]:
# Z-SCORE SCALING // also called as Standadization
#with library - skleran (stanadrdScaler)
scaler = StandardScaler()

print("AFTER STANDARDIZATION - enginesize")
df['enginesize'] = scaler.fit_transform(df[['enginesize']])
df['enginesize'].head()

AFTER STANDARDIZATION - enginesize

0    0.074449
1    0.074449
2    0.604046
3   -0.431076
4    0.218885
Name: enginesize, dtype: float64

In [21]:
#manullay without using sklearn
df['enginesize'] = (df['enginesize'] - df['enginesize'].mean() )/df['enginesize'].std()
df['enginesize'].head()

0    0.074267
1    0.074267
2    0.602571
3   -0.430023
4    0.218350
Name: enginesize, dtype: float64

In [22]:
# DECIMAL SCALING
print("BEFORE DECIMAL SCALING - citympg	")
df['citympg'].head()

BEFORE DECIMAL SCALING - citympg

0    21
1    21
2    19
3    24
4    18
Name: citympg, dtype: int64

In [23]:
print("AFTER DECIMAL SCALING - citympg	")
df['citympg'] = df['citympg']/10
df['citympg'].head()

AFTER DECIMAL SCALING - citympg

0    2.1
1    2.1
2    1.9
3    2.4
4    1.8
Name: citympg, dtype: float64

In [24]:
# DATATYPE CONVERSION - Turn categorical variables into quantitative variables
#Implicite conversion - astype()
print("BEFORE CONVERSION - curbweight")
df['curbweight'].dtype

BEFORE CONVERSION - curbweight

dtype('int64')

In [25]:
print("AFTER CONVERSION - df['curbweight'].dtype")
df['curbweight'] = df['curbweight'].astype(float)
df['curbweight'].dtype

AFTER CONVERSION - df['curbweight'].dtype

dtype('float64')

In [26]:
# CATEGORIAL VALUES INTO NUMERICAL VALUES 
# Categorical values, also known as categorical variables or qualitative variables, 
#represent data that falls into specific categories or groups.
# For example, colors (red, blue, green)

In [27]:
unique_val = df['carbody'].unique()

print("The unique categorical values in the column 'carbody' are:")
print(unique_val)

The unique categorical values in the column 'carbody' are:
['convertible' 'hatchback' 'sedan' 'wagon' 'hardtop']

In [28]:
from sklearn.preprocessing import LabelEncoder

label = LabelEncoder()

encoded = label.fit_transform(df['carbody'])

new_df = pd.DataFrame({
    'original_' + 'encoded' : df['carbody'],
    'encoded_' + 'carbody' : encoded
})

print(new_df)

    original_encoded  encoded_carbody
0        convertible                0
1        convertible                0
2          hatchback                2
3              sedan                3
4              sedan                3
..               ...              ...
200            sedan                3
201            sedan                3
202            sedan                3
203            sedan                3
204            sedan                3

[205 rows x 2 columns]

In [29]:
#using One-Hot-Encoding
#bascially represent unique features in binary format for 
#ex: for red - 00 for green - 01 for blue - 10 for black- 11

In [30]:
unique_values = df['aspiration'].unique()

print("The unique categorical values in the column 'aspiration' are:")
print(unique_values)

The unique categorical values in the column 'aspiration' are:
['std' 'turbo']

In [32]:
#One-hot encoding converts categorical variables into a binary matrix representation, where each category becomes a new binary column. 
# Assuming df['aspiration'] is a categorical variable
one_hot_encoded = pd.get_dummies(df['aspiration'], prefix='aspiration')

#The [:, 0] syntax specifies that we want to select all rows (:) and the column at index 0. 
# Selecting one column from the one-hot encoded DataFrame
encoded_column = one_hot_encoded.iloc[:, 0]

# Creating the comparison DataFrame
comparison_df = pd.DataFrame({
    'Original_' + 'aspiration': df['aspiration'],
    'Encoded_' + 'aspiration': encoded_column
})

print(comparison_df)

    Original_aspiration  Encoded_aspiration
0                   std                True
1                   std                True
2                   std                True
3                   std                True
4                   std                True
..                  ...                 ...
200                 std                True
201               turbo               False
202                 std                True
203               turbo               False
204               turbo               False

[205 rows x 2 columns]